@font-face
{
font-family: fira;
src: url(fonts/FiraSans-Regular.woff);
font-weight:400;
}

@font-face
{
font-family: fira;
src: url(../fonts/FiraSans-Bold.woff);
font-weight:600;
}

@font-face
{
font-family: fira;
src: url(../fonts/FiraSans-Light.woff);
font-weight:300;
}

@font-face
{
font-family: fira;
src: url(../fonts/FiraSans-Medium.woff);
font-weight:500;
}

html,body{
  width:100%;
  height:100%;
  background:rgba(236, 240, 241,1.0);
  font-family: "fira", helvetica , arial , sans-serif;
}
hr{
  margin-top:20px;
  border-top:1px solid rgba(46, 204, 113,1.0);;
}

/* Login Style*/
#loginform{
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  overflow: auto;
  height:100%;
  width:100%;
  color:rgba(0,0,0,0.5);
  display: block;
  margin:auto;
  overflow: none;
  padding:50px;
  background: rgba(46, 204, 113,1.0);
}

#loginform input{
  background:rgba(255,255,255,1);
  color:rgba(0,0,0,0.6);
}

#loginform h1{
font-family: "Montserrat";
font-size:72px;
color:rgba(255,255,255,0.9);
}

#loginform h3{
font-family: "Montserrat";
font-size:24px;
color:rgba(255,255,255,0.75);
line-height: 0px;
margin-bottom:1em;
}

#loginform form{
  width:360px;
  margin:0 auto;
  margin-top:60px;
  padding:40px;
  padding-top: 20px;
  background:rgba(255,255,255,0.2);
  border-radius: 4px;
  box-shadow: 0,0,5,5, rgba(0,0,0);
}

#loginform form h3{
  color:rgba(255,255,255,0.9);
  text-transform: uppercase;
  font-size:24px;
  margin-bottom: 1.2em;
  letter-spacing: 2px;
}

#loginform button{
  width:100%;
  background: rgba(39, 174, 96,1.0);
  border:0px ;
  color:rgba(255,255,255,0.9);
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);
}
#loginform button:hover{
    background: rgba(29, 164, 86,1.0);
}

#loginform input::-webkit-input-placeholder {
   color: rgba(0,0,0,0.25);
}

#loginform input:-moz-placeholder {
color: rgba(0,0,0,0.25);
}

#loginform input::-moz-placeholder {  /* Firefox 19+ */
color: rgba(0,0,0,0.25);
}

#loginform input:-ms-input-placeholder {
color: rgba(0,0,0,0.25);
}

/* Game Style */

#game {
  width:1100px;
  height:60%;
  left:0;right:0;top:0;bottom:0;
  margin:auto;
  position: absolute;
}
#pre-game{
  width:100%;
  padding:50px;
  left:0;right:0;top:0;bottom:0;
  margin:auto;
}
/* Join */
#weapons{

}

h1.title{
  color:rgba(46, 204, 113,1.0);
font-family: "Montserrat";
font-size:72px;
  margin-bottom:20px;
}

h2.title{
  color:rgba(0,0,0,0.66);
text-align: left;
  font-size: 24px;

}

#weaponRack{
  margin-bottom: 10px;
  padding:20px;
  background: rgba(245,245,245,1);
  border:1px solid rgba(204,204,204,1);
  border-radius: 4px;
}
.weapon{
  margin:0 auto;
  background:rgba(46, 204, 113,.2);
  transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);
  height:80px;
  width:160px;
  border-radius: 10px;
}
  .weapon#ruby {
  background:rgba(231, 76, 60,.33);
}
  .weapon#javascript {
      background:rgba(241, 196, 15,.33);
}
  .weapon#python {
      background:rgba(52, 152, 219,.33);
}

  .weapon#ruby:hover {
  background:rgba(231, 76, 60,.66);
}
  .weapon#javascript:hover {
      background:rgba(241, 196, 15,.66);
}
  .weapon#python:hover {
      background:rgba(52, 152, 219,.66);
}


.weapon h1{
  color:rgba(255,255,255,1);
  line-height:80px;
  text-align: center;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 2px;
  cursor: pointer;
}


  .weapon#ruby.selected {
  background:rgba(231, 76, 60,1.0);

  box-shadow: 0px 0px 0px 10px rgba(231, 76, 60,.5);
  -webkit-transform: scale(1.1);
}
  .weapon#javascript.selected {
      background:rgba(241, 196, 15,1.0);

  box-shadow: 0px 0px 0px 10px rgba(241, 196, 15,.5);
  -webkit-transform: scale(1.1);
  }
  .weapon#python.selected {
      background:rgba(52, 152, 219,1.0);

      box-shadow: 0px 0px 0px 10px rgba(52, 152, 219,.5);
      -webkit-transform: scale(1.1);
  }

.weapon.selected {
  background: rgba(46, 204, 113,1);
  box-shadow: 0px 0px 0px 5px rgba(46, 204, 113,.5);
  -webkit-transform: scale(1.1);
}

#submit{
  margin-top: 20px;
  text-align: center;
}

#submit input[type="button"]{
  font-size: 24px;
  padding:15px 40px;
  background:  #2ecc71;
  text-transform: uppercase;
  letter-spacing: 2px;
}
/* games */
#actual-editor{
  position:relative;
}

#messages{
  font-family: "inconsolata",monospace;
  color:rgba(255,255,255,0.5);
  padding:0px 20px;
  padding-top: 20px;
  width:400px;
  height:360px;
  top:0px;right:0px;
  margin:auto;
  position: absolute;
  background: #2c2c2c;
  border-left: 1px solid rgba(255,255,255,0.1)
}
.monospaceHeader{
  color:rgba(255,255,255,0.9);
}
#feedback{
  position:absolute;
  bottom:0px;
  width:700px;
  color:rgba(231, 76, 60,1.0);
  font-family: "inconsolata" , monospace;
  z-index: 3;
  padding: 0px 40px;
  padding-top:10px;
  background: rgba(45,45,45,0.9);
}

#feedback strong{
  color:white;
}
#exitButton{
  font-family: "fira", helvetica , arial , sans-serif;
  position:absolute;
  right:15px;
  bottom:15px;
  letter-spacing: 1px;
text-transform: uppercase;
}
#submitButton{
  font-family: "fira", helvetica , arial , sans-serif;
  position:absolute;
  left:15px;
  bottom:15px;
  letter-spacing: 1px;
text-transform: uppercase;
}

#progress{
  width:1100px;
  height:10px;
  background:rgba(149, 165, 166,1.0);
  top:-40px;
  left:0px;
  position: absolute;
}

#bar{
  height:100%;
  width:60%;
  background:rgba(231, 76, 60,1.0);
}

#countdown{
  position: fixed;
  left:0;
  top:0;
  width:100%;
  height:100%;
  background:rgba(236, 240, 241,1.0);
  z-index: 5;
  display: none;
}

#countdown p {
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  overflow: auto;
  height:50%;
  width:50%;
  color:rgba(0,0,0,0.5);
  font-size:180px;
  display: block;
  margin:auto;
}

#stat-pane {
  margin: auto;
  z-index: 5;
  position: absolute;
  top:0;
  left:0;right:0;
margin-top:50px;
  text-align: center;
  color: white;
  -webkit-animation: stats 1s; /* Chrome, Safari, Opera */
animation: stats 1s;
}
#stat-pane:after {
  content:"";
  position: fixed;
  background: rgba(0,0,0,0.75);
    top:0;
    z-index:-1;
  left:0;right:0;
  width:100%;
  height:100%;
}


#stat-pane h3{
  text-transform: uppercase;
  font-size: 92px
}



/* Chrome, Safari, Opera */
@-webkit-keyframes stats
{
from {opacity: 0;}
to {opacity: 1;}
}

/* Standard syntax */
@keyframes stats
{
from {opacity: 0;}
to {opacity: 1;}
}



/* Header Style */

#header {
position:fixed;
top:24px;
right:10%;
}
