/* Game Style */
html,body{
width:100%;
height:100%;
background:rgba(236, 240, 241,1.0);
}

#game, #pre-game {
  width:1100px;
  height:50%;
  left:0;right:0;top:0;bottom:0;
  margin:auto;
  position: absolute;
}
/* Join */
#weapons{

}
h1.title{
  color:rgba(255,255,255,1);
  text-transform: uppercase;
  font-size: 32px;
  letter-spacing: 3px;
}

.weapon{
  margin:0 auto;
  background:rgba(142, 68, 173,0.5);

  height:200px;
  width:200px;
  border-radius: 100px;
}

.weapon h1{
  color:rgba(255,255,255,0.5);
  line-height:200px;
  text-align: center;
  font-size: 28px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.weapon.selected {
  background: #2ecc71;
}

#submit{
  margin-top: 50px;
  text-align: center;
}
#submit input[type="button"]{
  font-size: 32px;
  padding:20px 40px;
  background:  #2ecc71;
}
/* games */
#actual-editor{
  position:relative;
}

#messages{
  font-family: monospace;
  color:rgba(255,255,255,0.5);
  padding:0px 20px;
  padding-top: 20px;
  width:400px;
  height:360px;
  top:0px;right:0px;
  margin:auto;
  position: absolute;
  background: #2c2c2c;
  border-left: 1px solid rgba(255,255,255,0.1)
}
.monospaceHeader{
  color:rgba(255,255,255,0.9);
}
#feedback{
  position:absolute;
  bottom:0px;
  width:700px;
  color:rgba(231, 76, 60,1.0);
  font-family: monospace;
  z-index: 2;
  padding: 0px 40px;
  padding-top:10px;
  background: rgba(0,0,0,0.2);
}
#feedback strong{
  color:white;
}
#progress{

  width:1100px;
  height:10px;
  background:rgba(0,0,0,0.1);
  top:-40px;
  left:0px;
  position: absolute;
}
#bar{
  height:100%;
  width:60%;
  background:rgba(0,0,0,0.3);

}
#countdown{
  position: absolute;
  width:100%;
  height:100%;
  background:red;
  z-index: 5;
}
#countdown p {
color:white;
line-height: 360px;
font-size:120px;
}


/* Header Style */

#header {

}
