/* Game Style */
html,body{
width:100%;
height:100%;
}

#game {

}


#actual-editor{
  width:50%;
  height:50%;
  left:0;right:0;top:0;bottom:0;
  margin:auto;
  position: absolute;
}

.CodeMirror{
  width:100%;
}
/* Header Style */
#header {

}
