<template name="game">
  {{#if gameOver}}
    {{> stats}}
  {{/if}}

  <div id="countdown">
    <p class="text-center"></p>
  </div>

  <div id="actual-editor">
    <div id="feedback">
      <p><span class="monospaceHeader">Feedback:</span></p>
      <p id="feedback-error"></p>
    </div>
  </div>

  <div id="messages">
    <p><span class="monospaceHeader">Problem Statement:</span></p>
    <div id="statement-div"><p><em id="problem-statement"></em></p></div>

    <p><span class="monospaceHeader">Hazard:</span> <span> {{ hazardName }} </span></p>
    <p><em>{{ hazardInfo }}</em></p>

    <p><span class="monospaceHeader">Language:</span> <span> {{ language }} </span></p>


    <input id="exitButton" type="button" value="Exit Game" class="btn btn-danger exit-button"/>
    <input id="submitButton" type="button" value="Submit (Alt+S)" class="btn btn-default submit-button"/>
  </div>

  <div id="progress">
    <div id="bar"></div>
  </div>

  <div id="gamescore">
    <div id="time">Round {{ score }} : {{ time }} s</div>
    <div id="score">13400</div>
  </div>
</template>
