<template name="game">
  <div id="countdown">
  </div>
  
  <div id="actual-editor">
  </div>

  <div id="messages">
    <p>Problem Statement:</p>
    <p>Write a program that prints every even integer between 2 and 100 inclusive. Every integer should be in its own line and there should be an empty line in the end
    </p>
      <input type="button" value="Exit Game" class="btn btn-success exit-button"/>
      <input type="button" value="Submit" class="btn btn-success submit-button"/>
  </div>

  <div id="progress">
    <div id="bar"></div>
  </div>
</template>
