<template name="game">
  <div id="countdown">
    <p class="text-center"></p>
  </div>

  <div id="actual-editor">
    <div id="feedback">
      <p><span class="monospaceHeader">Feedback:</span></p>
      <p id="feedback-error"></p>
    </div>
  </div>

  <div id="messages">
    <p><span class="monospaceHeader">Problem Statement:</span></p>
    <p><em id="problem-statement"></em></p>

    <p><span class="monospaceHeader">Hazard:</span> <span> {{ hazardName }} </span></p>
    <p><em>{{ hazardInfo }}</em></p>

    <input type="button" value="Exit Game" class="btn btn-success exit-button"/>
    <input type="button" value="Submit (Alt+S)" class="btn btn-success submit-button"/>
  </div>

  <div id="progress">
    <div id="bar"></div>
  </div>
</template>
