<template name="join">
<div class="container-fluid">
  <div  class="row" id="weapons">
    <div class="col-md-8 col-md-offset-2">
    <h1 class="title text-center">Choose your weapon:</h1>
      <div class="row">
        <div class="col-md-4">
          <div class="weapon">
            <h1>Ruby</h1>
          </div>
        </div>
        <div class="col-md-4">
          <div class="weapon">
            <h1>JavaScript</h1>
          </div>
        </div>
        <div class="col-md-4">
          <div class="weapon">
            <h1>Python</h1>
          </div>
        </div>
    </div>
    </div>
    </div>
  <div id="submit" >
    <input type="button" value="Start Game" class="btn btn-success submit-button"/>
  </div>
  </div>
</template>
