<template name="join">
<div class="container-fluid">
  <div  class="row" id="weapons">
    <div class="col-md-8 col-md-offset-2">
     <h1 class="title text-center">The Codebits Gym</h1>
    <h2 class="title text-center">Choose your weapon:</h2>
      <div class="row" id="weaponRack">
        <div class="col-md-4">
          <div id="ruby" class="weapon">
            <h1>Ruby</h1>
          </div>
        </div>
        <div class="col-md-4">
          <div id="javascript" class="weapon selected">
            <h1>JavaScript</h1>
          </div>
        </div>
        <div class="col-md-4">
          <div id="python" class="weapon">
            <h1>Python</h1>
          </div>
        </div>
    </div>
       <div class="row">
        <div class="col-md-12">

        <h3>Instructions:</h3>
        <div id="instructions">
          <p>A wise choice, JavaScript. To read input use 'readline()' to print output use 'print()'.</p>
          <p>As an example problem: Given an integer 'N', print the first 'N' natural numbers.</p>
          <pre>var n = parseInt(readline());<br>for (var i = 1; i &lt;= n; i++) {<br> print(i);<br>}<br></pre>
        </div>
        </div>

    </div>
    </div>
    </div>

  <div id="submit" >
    <input type="button" id="submit-btn" value="Start Game" class="btn btn-success submit-button"/>
  </div>
  </div>
</template>
